<main>

    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase">Secondary</h2>
    <h3 class="text-capitalize">3 title one two</h3>
    <hr>
    <div class="display-1 text-muted">Hello world!</div>
    <div class="display-5">Secondary</div>
    <hr>
    <div class="text-muted text-end">
        Додатковий текст
    </div>
    <hr>

    <button class="btn btn-primary">
        <span class="text-uppercase">Primary button</span>
    </button>

    <hr>

    <p class="text-info">My color text</p>

    <hr>
    <button class="btn btn-secondary btn-lg">Add</button>
    <button class="btn btn-outline-secondary">Edit</button>
    <button class="btn btn-outline-danger btn-sm">Delete</button>

    <hr>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>
</main>