<nav>
    {{>link text="Skills" value="/skills" line=true }}
    {{>link text="Summary" value="/summary" line=true }}
    {{>link text="Education" value="/education" line=true }}
    {{>link text="Work" value="/work" line=true noLine=true}}
</nav>